#titulo13 {
  text-shadow: 5px 5px 5px #aaa;
}
#titulo14 {
  text-shadow: -5px -5px 5px #aaa;
}
#titulo15 {
  text-shadow: 3px 3px 5px #f00,
               6px 6px 5px #0f0,
               9px 9px 5px #00f;
}