#recuadro33 {
    background-image: url("foto1.jpg");
    color:#f00;
    width:700px;
    height:450px;
    border-radius:15px;
    font-size:45px;
  }
  
  .texto34 {
    color:rgb(255,255,0);
  }
  #recuadro35 {
    background-image: url("foto1.jpg");
    color:#f00;
    width:700px;
    height:450px;
    border-radius:15px;
    font-size:45px;
    margin-top:10px;
  }
  
  .texto36{
    color:rgba(255,255,0,0.5);
  }
  