#recuadro59{
    margin: 5px;
    border-radius: 20px;  
    background-color:#eee;
    width:200px;
    padding:10px;
    transition:width 2s linear;
    -moz-transition:width 2s linear;
    -ms-transition:width 2s linear;
    -webkit-transition:width 2s linear;
    -o-transition:width 2s linear;
  }