#recuadro47{
    background-image:    url("logo1.png"), 
                         url("logo1.png"), 
                         url("logo1.png"), 
                         url("logo1.png"), 
                         url("foto1.jpg");
    background-position: 0% 0%,
                         100% 0%,
                         0% 100%,
                         100% 100%;
    background-repeat: no-repeat;
    width:700px;
    height:450px;
 }
 
 body {
   background:white;
   margin:50px;
 }
 #recuadro48{
    background-image:    url("logo1.png"), 
                         url("logo1.png"), 
                         url("logo1.png"), 
                         url("logo1.png"), 
                         url("foto1.jpg");
    background-position: 0% 0%,
                         100% 0%,
                         0% 100%,
                         100% 100%;
    background-repeat: no-repeat;
    width:700px;
    height:450px;
 }